%h1 Listing clientes

%table
  %thead
    %tr
      %th Nombre
      %th Apellido p
      %th Apellido m
      %th Direccion
      %th Telefono
      %th Activo
      %th
      %th
      %th

  %tbody
    - @clientes.each do |cliente|
      %tr
        %td= cliente.nombre
        %td= cliente.apellido_p
        %td= cliente.apellido_m
        %td= cliente.direccion
        %td= cliente.telefono
        %td= cliente.activo
        %td= link_to 'Show', cliente
        %td= link_to 'Edit', edit_cliente_path(cliente)
        %td= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Cliente', new_cliente_path
