= form_for @marca do |f|
  - if @marca.errors.any?
    #error_explanation
      %h2= "#{pluralize(@marca.errors.count, "error")} prohibited this marca from being saved:"
      %ul
        - @marca.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :marca
    = f.text_field :marca
  .field
    = f.label :activo
    = f.check_box :activo
  .actions
    = f.submit 'Save'
