%h1 Listing marcas

%table
  %thead
    %tr
      %th Marca
      %th Activo
      %th
      %th
      %th

  %tbody
    - @marcas.each do |marca|
      %tr
        %td= marca.marca
        %td= marca.activo
        %td= link_to 'Show', marca
        %td= link_to 'Edit', edit_marca_path(marca)
        %td= link_to 'Destroy', marca, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Marca', new_marca_path
