%h1 Listing orden_servicios

%table
  %thead
    %tr
      %th User
      %th Cliente
      %th Servicio
      %th Equipo
      %th
      %th
      %th

  %tbody
    - @orden_servicios.each do |orden_servicio|
      %tr
        %td= orden_servicio.user
        %td= orden_servicio.cliente
        %td= orden_servicio.servicio
        %td= orden_servicio.equipo
        %td= link_to 'Show', orden_servicio
        %td= link_to 'Edit', edit_orden_servicio_path(orden_servicio)
        %td= link_to 'Destroy', orden_servicio, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Orden servicio', new_orden_servicio_path
