%p#notice= notice

%p
  %b User:
  = @orden_servicio.user
%p
  %b Cliente:
  = @orden_servicio.cliente
%p
  %b Servicio:
  = @orden_servicio.servicio
%p
  %b Equipo:
  = @orden_servicio.equipo

= link_to 'Edit', edit_orden_servicio_path(@orden_servicio)
\|
= link_to 'Back', orden_servicios_path
