= form_for @modelo do |f|
  - if @modelo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@modelo.errors.count, "error")} prohibited this modelo from being saved:"
      %ul
        - @modelo.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :modelo
    = f.text_field :modelo
  .field
    = f.label :activo
    = f.check_box :activo
  .actions
    = f.submit 'Save'
