%p#notice= notice

%p
  %b N serie:
  = @equipo.n_serie
%p
  %b Marca:
  = @equipo.marca
%p
  %b Modelo:
  = @equipo.modelo
%p
  %b Tipo equipo:
  = @equipo.tipo_equipo

= link_to 'Edit', edit_equipo_path(@equipo)
\|
= link_to 'Back', equipos_path
