= form_for @tipo_equipo do |f|
  - if @tipo_equipo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tipo_equipo.errors.count, "error")} prohibited this tipo_equipo from being saved:"
      %ul
        - @tipo_equipo.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :tipo
    = f.text_field :tipo
  .field
    = f.label :activo
    = f.check_box :activo
  .actions
    = f.submit 'Save'
